.idea
.DS_Store
test
hw1/workspace
scratch
hw1/__pycache__
hw2/workspace
hw2/__pycache__
hw0/Q1.txt
hw0/Q2.jpg
hw0/Q2.png
hw0/scratch.py
hw0/westbrook.jpg
hw0/words.txt
hw0/words0.txt
hw1/ans.csv
hw1/hw1.csv
hw2/ans_logistic.csv
hw2/ans_prob.csv
*.pyc
hw4/__pycache__
